.body-content {
  height: calc(100vh - 99px);
}

.body-content>.row {
  height: 100%;
}

.full-width {
  width: 100%;
}

.main-content{
  padding: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.bg-navbar-orange {
  background-color: #e3350d;
  border-bottom: 3px solid #ffcb04;
  /*height: 90px;*/
}

.bg-navbar-orange img {
  max-height: 70px;
  margin-left: 15px;
}

.bg-navbar-orange .nav-link {
  color: white;
  font-size: 20px;
}

.bg-navbar-orange .nav-link:hover {
  color: #ffcb04;
}

.bg-navbar-orange .form-control {
  height: 50px;
  border-radius: 15px;
}

.filter-bar {
  border-right: 3px solid #dfe5ee;
}


.language-selector{
  max-width: 95px;
  width: 100%;
}


/*******************************************/
/*Inputs laterales y sus colores*/

.left-input-container{
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-type{
  border-radius: 20px !important;
  border-color: transparent !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-fire{
    color: white !important;
    background-color: red !important;
}

.input-psychic{
    color: white !important;
    background-color: purple !important;
}

.input-plant{
    color: white !important;
    background-color: green !important;
}

.input-water{
    color: white !important;
    background-color: blue !important;
}

.input-normal{
    color: white !important;
    background-color: gray !important;
}

.input-poison{
    color: white !important;
    background-color: purple !important;
}

.input-ground{
    color: white !important;
    background-color: brown !important;
}

.input-flying{
    color: white !important;
    background-color: skyblue !important;
}

.input-bug{
    color: white !important;
    background-color: green !important;
}

.input-rock{
    color: white !important;
    background-color: brown !important;
}

.input-ghost{
    color: white !important;
    background-color: purple !important;
}

.input-steel{
    color: white !important;
    background-color: gray !important;
}

.input-fire{
    color: white !important;
    background-color: red !important;
}

.input-water{
    color: white !important;
    background-color: blue !important;
}

.input-grass{
    color: white !important;
    background-color: green !important;
}

.input-electric{
    color: white !important;
    background-color: yellow !important;
}

.input-psychic{
    color: white !important;
    background-color: purple !important;
}

.input-ice{
    color: white !important;
    background-color: blue !important;
}

.input-dragon{
    color: white !important;
    background-color: purple !important;
}

.input-dark{
    color: white !important;
    background-color: black !important;
}

.input-fairy{
    color: white !important;
    background-color: pink !important;
}

/***/


@media (max-width: 991px) {
  .bg-navbar-orange {
    height: auto;
  }
}