.pagination-container .page-item .page-link{
    color: black;
    padding: 10px 17px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px !important;
    box-shadow: none !important;
}

.pagination-container .page-item.active .page-link{
    background-color: #e3350d;
    color: white;
    border-color: #e3350d;
}

.pagination-container .page-item:hover .page-link:hover{
    background-color: #e3350d;
    color: white;
    border-color: #e3350d;
}